body {
    display: grid;
    text-align: center;
    grid-template-rows: 2fr 1fr 2fr 2fr;
    background-color: lavender;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-left: 80px;
    margin-right: 80px;
    font-family: monospace;
}

header {
    width: 75%;
    height: 140px;
    background-color: skyblue;
    padding: 10px;
    margin: auto;
}

h1 {
    display: inline-block;
}

.dropdown-section {
    margin-right: 280px;
}

#display-info {
    text-align: left;
}

li {
    text-align: left;
}



